<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

  <div class="flexbox-container">
    <div class="logo">
      <img src="{{url_for('static',filename='images/amuro_logo.png')}}" class="logo-image" alt="logo">
    </div>
    <h1 class="pageTitle">Get Your Unique Avatar</h1>
    <div>
      <form  method="post" action="/strike">
        <!-- <input type="number" name="imageNumber" placeholder="Number of NFT you want to Generate" value="1" min="1"></br> -->
        <input type="submit" class="button  button-generate" value="Strike!"> 
      </form>
    </div>
  </div>

</body>
</html>
