<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

  <div class="flexbox-container">
    <div class="logo">
      <img src="{{url_for('static',filename='images/amuro_logo.png')}}" class="logo-image" alt="logo">
    </div>
    <h1 class="pageTitle">Get Your Unique Avatar</h1>
    <!-- {% if result_img %}
      <div class="flexbox-item">
          <img src="{{result_img}}" alt="NFT" class="result-image" height="400px" width="400px">
      </div>
      <a href="{{url_for('download_nft')}}" class="button button-download flexbox-item ">Download</a>
      <a href="#" class="button button-download flexbox-item ">Mint as NFT</a>
    {% endif %} -->

    <div>
      <form  method="post" action="/strike">
        <!-- <input type="number" name="imageNumber" placeholder="Number of NFT you want to Generate" value="1" min="1"></br> -->
        <input type="submit" class="button  button-generate" value="Strike!"> 
      </form>
    </div>
  </div>

</body>
</html>
