<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/striked.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <div class="flexbox-container">
    <div class="logo flexbox-container">
      <img src="{{url_for('static',filename='images/amuro_logo.png')}}" class="logo-image" alt="logo">
    </div>
    <h1 class="pageTitle">Get Your Unique Avatar</h1>

    <!-- show result image -->
    {% if result_image %}
      <div class="nft-container">
          <img src="{{result_image}}" alt="NFT" class="result-image">
          <div class="nft-info-container">
            <div class="nft-info">{{brand_name}} #{{image_number}}</div>
            <div class="nft-info">{{edition_name}} Edition 1/1</div>
            <div class="nft-info {{rarity_box}}">{{rarity_text}}</div>
          </div>
      </div>
    {% endif %}

    <!-- divider bar -->
    <div class="divider"></div>

    <!-- button group -->
    <div class="button-container">
      <a href="{{url_for('download_nft')}}" class="button button-download">Download Avatar</a>
      <!-- <a href="#" class="button button-mint ">Mint as NFT</a> -->
      <button class="button button-add-frame" id="add-frame">Add Frame</button>
      <form  method="post" action="/strike">
        <!-- <input type="number" name="imageNumber" placeholder="Number of NFT you want to Generate" value="1" min="1"></br> -->
        <button type="submit" class="button button-generate" value="Strike again!"><i class="material-icons" style="font-size:20px">cached</i> Strike again !</button>
      </form>
    </div>

    <!-- Popup Modal -->
    <div id="popup-modal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="flexbox-container" id="frame-modal">
          <h3 class="popup-title">#1 Frame</h3>
          <img src="{{framed_image}}" alt="NFT" class="framed-image">
          <div class="divider modal-divider"></div>
          <div class="modal-button-container">
            <a href="{{url_for('download_nft_framed')}}" class="button button-download-frame">Download</a> 
            <button class="button button-share" id="share">Share</button>
          </div>
        </div>

        <div class="share-modal" id="share-modal">
          <span class="material-icons back" >chevron_left</span>
          <div class="flexbox-container">
            <h3 class="popup-title">Share on Social Media</h3>
            <div class="nft-container">
              <img src="{{framed_image}}" alt="NFT" class="framed-image">
              <div class="flexbox-container">
                <div class="share-method">      
                  <img src="{{url_for('static',filename='images/whatsapp.png')}}" class="social-icon" alt="logo">
                    Share on Whatsapp
                </div>
                <div class="share-method">
                  <img src="{{url_for('static',filename='images/instagram.png')}}" class="social-icon" alt="logo">
                  Share on Instagram
                </div>
                <div class="share-method">
                  <img src="{{url_for('static',filename='images/facebook.png')}}" class="social-icon" alt="logo">
                  Share on Facebook
                </div>
              </div>
            </div>  
          </div>
        </div>

      </div> 
    </div>

  </div>

  <!-- Popup script -->
  <script>
    // Get the modal
    var modal = document.getElementById("popup-modal");
    var modalShare = document.getElementById("share-modal");
    var modalFrame = document.getElementById("frame-modal");
    // Get the button that opens the modal
    var btn = document.getElementById("add-frame");
    var btnShare = document.getElementById("share");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var spanBack = document.getElementsByClassName("back")[0];
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    btnShare.onclick = function() {
      modalShare.style.display = "block";
      modalFrame.style.display = "none";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    spanBack.onclick = function() {
      modalShare.style.display = "none";
      modalFrame.style.display = "flex";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
</body>
</html>
