<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/striked.css') }}">
</head>
<body>

  <div class="flexbox-container">
    <div class="logo flexbox-container">
      <img src="{{url_for('static',filename='images/amuro_logo.png')}}" class="logo-image" alt="logo">
    </div>
    <h1 class="pageTitle">Get Your Unique Avatar</h1>

    <!-- show images in image list-->
    {% if result_image_list %}
      {% for result_image_list in result_image_list %}
      <div class="nft-container">
        <img src="{{ url_for('static', filename=result_image_list)}}" alt="NFT" class="result-image" height="400px" width="400px">
        <div class="nft-info-container">
          <div class="nft-info">Gump #0</div>
          <div class="nft-info">Limited Edition 1/1</div>
          <div class="nft-info rarity-box">SUPER RARE</div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    <!-- divider bar -->
    <div class="divider"></div>

    <!-- button group -->
    <div class="button-container">
      <a href="{{url_for('download_nft')}}" class="button button-download">Download</a>
      <a href="#" class="button button-mint ">Mint as NFT</a>
      <form  method="post" action="/strike">
        <!-- <input type="number" name="imageNumber" placeholder="Number of NFT you want to Generate" value="1" min="1"></br> -->
        <input type="submit" class="button button-generate" value="Strike again!"> 
      </form>
    </div>
  </div>

</body>
</html>
