@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/css?family=Montserrat);

* {
  box-sizing: border-box;
  font-size: 24px;
}

body {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 20px;
  margin-top: 50px;
  max-width: 100%;
  max-height: 100%;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.pageTitle {
  margin: 20px;
}

.result-image {
  width: 75%;
  height: 75%;
  border-radius: 4px;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 300px;
}

input[type=number] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
  height: 50px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .result-image {
    width: 50%;
    height: 50%;
    border-radius: 4px;
    margin: 5px;
  }
}