@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/css?family=Montserrat);

* {
  box-sizing: border-box;
  font-size: 24px;
}

body {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  background: url(../images/Rectanglebg_ball_blue.png) left bottom, 
  url(../images/Rectanglebg_ball_red.png) right top,
  linear-gradient(103.33deg, rgba(214, 221, 235, 0.8) 0%, rgba(240, 237, 243, 0.8) 51.54%, rgba(237, 226, 245, 0.8) 98.97%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  margin: 20px;
  margin-top: 210px;
  max-width: 100%;
  max-height: 100%;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.pageTitle {
  margin: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #000000;
}


.button {
  background-color: #008CBA;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button-generate {
  background: #0066FF;
  width: 180px;
  color: white;
  /* button shadow */
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 12px;
  /* identical to box height */
  letter-spacing: 0.015em;
  margin-top: 24px;
}

input[type=number] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
  height: 50px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {
  body {
    background: url(../images/Rectanglebg_ball_blue.png) 30% bottom, 
    url(../images/Rectanglebg_ball_red.png) 65% top,
    linear-gradient(103.33deg, rgba(214, 221, 235, 0.8) 0%, rgba(240, 237, 243, 0.8) 51.54%, rgba(237, 226, 245, 0.8) 98.97%);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .result-image {
    width: 50%;
    height: 50%;
    border-radius: 4px;
    margin: 5px;
  }
  .pageTitle {
    font-size: 24px;
  }
  .button-generate {
    width: 300px;
    margin-top: 40px;
  }
}